:root {
  --branding-color: #272044;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  background-color: var(--branding-color);
}
container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("/images/CableCar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  padding: 16px 32px;
  color: #53a8b6;
  display: inline-block;
  margin-top: 32px;
}
main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: var(--branding-color);
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--branding-color);
  margin: 0;
}
main p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: var(--branding-color);
  opacity: 0.7;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-color: #f8f8f8f8;
}
.img-responsive {
  width: 100%;
  display: block;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-footer {
  grid-template-columns: 1fr 2fr 2fr;
}
.card {
  background-color: white;
  margin: 30px 0;
  border: none;
}
.card-header {
  border: none;
  padding: 0;
  margin: 0;
}
.card-header.grid {
  grid-gap: 0;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.card-body {
  padding: 30px;
  background-color: white;
  box-sizing: none;
  border: none;
}
.card-footer {
  padding: 30px;
  background-color: white;
  box-sizing: none;
  border: none;
}
.card h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--branding-color);
  margin: 0;
}
.card h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  color: var(--branding-color);
  margin: 0;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}
footer {
  display: block;
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("/images/Wellington-top-Mount-Victoria-New-Zealand.png");
  background-repeat: no-repeat;
  background-size: cover;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  section {
    padding: 30px;
  }
  footer {
    padding: 60px 0;
  }
}
